* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(13, 62, 117);
    padding: 20px;
    border-bottom: 4px solid rgb(144, 221, 240);
    color: white;
    height: 6rem;
}

img {
    max-width: 100%;
}

.dog-tags li {
    background: rgb(147, 221, 239);
    list-style-type: none;
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
}

h3 {
    padding-bottom: 7px;
}

.primary-text {
    padding: 12px;
}

body {
    font-family: Open Sans;
    padding: 12px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.dog-box {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.navbar-container {
    display: flex;
}

.navbar {
    flex: 1 1 10px;
    color: white;
    height: 250px;
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.donate {
    background: linear-gradient( rgba(142, 111, 236, 0.7), rgba(142, 111, 236, 0.7)), url(starter_files/images/donate.jpg) center/cover;
}

.volunteer {
    background: linear-gradient( rgba(142, 111, 236, 0.7), rgba(142, 111, 236, 0.7)), url(starter_files/images/volunteer.jpg) center/cover;
}

.location {
    background: linear-gradient( rgba(142, 111, 236, 0.7), rgba(142, 111, 236, 0.7)), url(starter_files/images/location.png) center/cover;
}


/* place this for notes that don't show up*/